<div id="my_id"></div>
<%= high_chart("my_id", @h) %>
<div class="row">
	<div class="span3 well">
		<h4> <%= session[:key]%> Job count</h4>
		<table>
		<% @jobs.each do |job| %>
		<tr>
			<td>
				<strong>
					<%= job[1].to_s.rjust(2, '0')%>
				</strong>
				<%= job[0]%>
				
			</td>
		</tr>
		<% end %>
		</table>
	</div>
</div>

